*.gz
*.sublime*
*.swp
*.out
*.Identifier
*.log
.idea*
*.iml
*.tmp
*~
.DS_Store
.idea
.jekyll-cache/
.jekyll-metadata
.sass-cache/
__pycache__/
__MACOSX
_site/
~*
bin/*.class
doc/
function.zip
landingPageShortName.md
node_modules/
package/
node_modules/
Notepad++/
test.html
RUNNING_PID
cloud9.tar
