*.gz
*.sublime*
*.swp
*.out
*.Identifier
*.log
.idea*
*.iml
*.tmp
*~
.DS_Store
.idea
.jekyll-cache/
.jekyll-metadata
.sass-cache/
__pycache__/
__MACOSX
_site/
~*
doc/
package/
node_modules/
Notepad++/
run.py
test.html
RUNNING_PID
function.zip
